#body-articolo{
    background-color: rgb(3, 129, 255);
    color: white;
}

.d-transparent{
    background-color: transparent !important;
}

#logo{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: 1px solid black;
}

.navbar a{
    transition: all 0.1s linear;
    margin-bottom: 2px solid blue;
    margin: 0 1em ;
}

.navbar{
    background-color: white;
}

.navbar li:hover a{
    background-color: rgb(3, 154, 255);
    border-bottom: 3px solid black;
    scale: 1.1;
    color: white !important;
    padding: 0.2em 0.4em !important;
}


h1{
    width: 100%;
    text-align: center;
}

#buttonAgg{
    margin: 1em;
    background-color: rgb(10, 10, 136);
    padding: 0.3em;
    color: white;
    border-radius: 20%;
    transition: all 0.1s linear;
}

#buttonAgg:hover{
    scale: 1.05;
    background-color: rgb(16, 79, 225);
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
}

#buttonBack{
    margin: 1em;
    background-color: rgb(3, 100, 165);
    padding: 0.3em;
    color: white;
    border-radius: 20%;
    transition: all 0.1s linear;
}

#buttonBack:hover{
    scale: 1.05;
    background-color: rgb(3, 154, 255);
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
}

#container-save-button{
    width: 100%;
    text-align: center;
}

.save-button{
    margin: 1em;
    background-color: rgb(51, 62, 162);
    padding: 0.3em;
    width: 60%;
    color: white;
    border-radius: 20%;
    border-bottom: 2px solid white;
    transition: all 0.1s linear;
}

.save-button:hover{
    scale: 1.05;
    background-color: rgba(3, 28, 255, 0.614);
    border-bottom: 3px solid white;
    filter: drop-shadow(0px 0px 5px white);
}

#articolo-form{
    background-color: grey;
    padding: 2em;
    border: 5px solid green;
}

#container-results{
    padding: 2em;
    margin: 2em;
    background-color: black;
}

#tabellaOggettiBackend{
    width: 100%;
}

th{
    color: rgb(3, 154, 255);
    filter: drop-shadow(1px 1px 7px rgb(3, 154, 255));
}

.alrticoloResultsTable{
    padding: 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.386);
}

#container-title-table{
    width: 100%;
    display: flex;
    justify-content: center;
}

tbody{
    background-color: black;
}

.title-table{
    padding: 1em;
    background-color: black;
    width: 60%;
    text-align: center;
    margin: 1em;
}
.spinner-container{
    padding: 4em;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 20%;
    position: fixed;
    top: 30%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
    color: greenyellow;
    z-index: 999999;
}