*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

#body{
    background-color: rgb(169, 159, 224);
    padding: 1em;
    font-family: 'Caveat', cursive;
    /* font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shadows Into Light', cursive; */
}

/* header */

#logo{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: 1px solid black;
}

.navbar a{
    transition: all 0.1s linear;
    border-radius: 20%;
}

.navbar li:hover a{
    background-color: black;
    border-bottom: 3px solid green;
    scale: 1.1;
    color: white !important;
    padding: 0.2em 0.4em !important;
}

/* main */

#button-inserimento{
    background-color: rgba(0, 0, 255, 0.158);
    padding: 0.5em;
    text-align: center;
}

#button label{
    font-size: 1.4em;
}

#buttonIns{
    padding: 0.4em;
    border-radius: 20%;
    border: 2px solid black;
    border-bottom: 3px solid black;
    border-top: 1px solid black;
    transition: all 0.1s linear;
}

#buttonIns:hover{
    background-color: black;
    color: white;
    border: 2px solid green;
    border-bottom: 3px solid green;
    border-top: 1px solid green;
    scale: 1.1;
    margin: 0 10px;
}

#container-prodotti{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card{
    width: 20%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.415);
    color: white;
    border-radius: 10%;
    margin: 1em;
    padding: 0.5em;
    border: 1px solid black;
    filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.592));
    transition: all 0.1s linear;
}

.product-card:hover{
    scale: 1.05;
    background-color: rgba(0, 0, 0, 0.647);
    filter: drop-shadow(1px 1px 10px lightgreen);

}

.product-card img{
    width: 100%;
    object-fit: contain;
    padding: 0.5em;
}

.offcanvas{
    z-index: 2222 ;
}

.spinner-container{
    padding: 5em;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 20%;
    position: fixed;
    top: 30%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
    color: greenyellow;
}

#scrittaNienteProdottiTrovati{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.464);
    color: red;
    font-size: 2em;
}

/* carrello */

.btn-custom{
    padding: 0.7em;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.395) ;
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: all 0.2s linear;
    z-index: 1111;
}

.btn-custom:hover{
    scale: 1.2;
    padding: 0.7em;
    border-radius: 30%;
    background-color: rgba(0, 0, 0, 0.6) ;
}

.badge-custom{
    font-size: 1.1em;
}

.button-cart{
    background-color: transparent;
    border: 2px solid black;
    color: white;
    border-radius: 20%;
    margin: 0.2em 0.7em;
    filter: drop-shadow(0px 0px 5px white);
}

.button-cart-modifica{
    background-color: transparent;
    padding: 1px 4px;
    border: 2px solid black;
    color: white;
    border-radius: 20%;
    margin: 0.2em 0.7em;
    filter: drop-shadow(0px 0px 5px white);
}
.button-cart-modifica:hover{
    scale: 1.1;
    background-color: black;
    filter: drop-shadow(0px 0px 5px rgb(1, 55, 251));
}

#totale-prezzo{
    padding: 1.5em;
    font-size: 1.2em;
    width: 100%;
    text-align: right;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-bottom: 1.4em;
    background-color: black;
    filter: drop-shadow(0px 0px 5px white);
}

.button-cart:hover{
    scale: 1.1;
    background-color: black;
    filter: drop-shadow(0px 0px 5px lightgreen);
}

.cart-custom, .cart-custom-remove{
    padding: 0.3em;
}

.button-cart-remove{
    background-color: transparent;
    border: 2px solid black;
    color: white;
    border-radius: 20%;
    margin: 0.2em 0.7em;
    filter: drop-shadow(0px 0px 8px white);
}

.button-cart-remove:hover{
    scale: 1.1;
    background-color: black;
    filter: drop-shadow(0px 0px 5px rgb(245, 85, 41));
}

.cart-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid green;
    padding: 0.4em;
    margin-bottom: 2em;
    border-bottom-left-radius: 20%;
}

.cart-card img{
    border-radius: 20%;
    height: 90%;
}

.name-cart{
    color: white;
}

.price-cart{
    color: green;
}

.containerCartButtons{
    display: flex;
    flex-direction: column;
    scale: 0.8;
}

#risultati-scritta{
    width: 100%;
    text-align: end;
}

.buttonBack{
    margin: 1em;
    background-color: green;
    padding: 1em;
    color: white;
    border-radius: 20%;
    transition: all 0.1s linear;
}

.buttonBack:hover{
    scale: 1.05;
    background-color: rgb(51, 191, 61);
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
}

/* footer */


@media  screen and (max-width: 1000px) {
    .product-card{
        scale: 0.8;
        margin: 0em;
        width: 30%;
        padding: 1em;
    }

    .product-card:hover{
        scale: 0.85;   
    }

    .product-card p, .product-card h2{
        scale: 0.8;
    }
}
@media  screen and (max-width: 800px) {
    .product-card{
        width: 40%;
        scale: 0.7;
        margin: 0em;
        padding: 2em;
    }

    .product-card:hover{
        scale: 0.75;   
    }

    .product-card p, .product-card h2{
        scale: 1.1;
    }
}

@media  screen and (max-width: 600px) {
    .product-card{
        width: 50%;
        scale: 0.7;
        margin: 0em;
        padding: 2em;
    }

    .product-card:hover{
        scale: 0.75;   
    }

    .product-card p, .product-card h2{
        scale: 1.1;
    }
}

@media  screen and (max-width: 450px) {
    .product-card{
        width: 80%;
        scale: 0.7;
        margin: 0em;
        padding: 2em;
    }

    .product-card:hover{
        scale: 0.75;   
    }

    .product-card p, .product-card h2{
        scale: 1.1;
    }
}